* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    height: 1024px;

    margin: 0 auto;
    padding: 30px;
    font-size: 0;
}

nav {
    height: 80px;
    /* width: 1088px; */
    background-color: #808080;
    margin-bottom: 30px;
}

.sidebar {
    height: 964px;
    /* width: 262px; */
    width: calc((291 * 100%) / 1380 - 30px);
    background-color: #808080;
    display: inline-block;
    margin-right: 30px;
    /* vertical-align: top; */
}

.right-box {
    /* width: 1088px; */
    height: 80px;
    width: calc(((1089 * 100) / 1380) * 1%);
    background-color: #808080;
    display: inline-block;

    vertical-align: top;
}
.top-boxes {
    margin-bottom: 30px;
}
.top-box {
    /* width: 250px; */
    width: calc((100% - 90px) / 4);
    height: 200px;
    background-color: #808080;
    display: inline-block;
}

.top-box-1,
.top-box-2,
.top-box-3 {
    margin-right: 30px;
    /* display: inline-block; */
}
.top-box-4 {
    display: inline-block;
}
.bottom-box-fat {
    height: 624px;
    width: calc(((839 * 100) / 1089) * 1% - 30px);
    /* width: 809px; */
    background-color: #808080;
    margin-right: 30px;
    display: inline-block;
}

.bottom-box-thin {
    height: 624px;
    /* width: 249.5px; */
    width: calc(((250 * 100) / 1089) * 1%);
    background-color: #808080;
    display: inline-block;
}
