* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    height: 1024px;

    margin: 0 auto;
    padding: 30px;
    font-size: 0;
}

nav {
    width: 100%;
    height: 80px;
    background-color: #898989;
    margin-bottom: 30px;
}

.top-section-left {
    /*width: 1027px;*/
    width: calc(((100% - 90px) / 4) * 3 + 60px); /*322.5*4+90-1380px */

    height: 701px;
    display: inline-block;
    margin-right: 30px;
    vertical-align: top;
}

.top-section-section {
    margin-bottom: 30px;
}

.top-section-box {
    height: 317px;
    width: calc((100% - 60px) / 3);

    background-color: #898989;
    display: inline-block;

    /*margin-bottom: 30px;*/
}

.top-section-box-1 {
    margin-right: 30px;
}
.top-section-box-2 {
    margin-right: 30px;
}

.two-box-horizontal {
    height: 354px;
    /* width: 1023px; */
    /* width: calc(((1023 * 100) / 1380) * 1% - 60px); */
    background-color: #d9d9d9;
    padding: 29px;
    margin-bottom: 30px;
}

.two-box-horizontal-long {
    height: 294px;
    width: calc((100% / 3) * 2);
    /* width: 645px; */
    background-color: #898989;
    display: inline-block;

    margin-right: 30px;
}

.two-box-horizontal-short {
    height: 294px;
    width: calc((100% / 3) - 30px);
    /* width: 289px; */
    background-color: #898989;
    display: inline-block;
}

.bottom-box-right {
    height: 701px;
    /* width: 322px; */
    width: calc((100% - 90px) / 4);
    background-color: #d9d9d9;
    display: inline-block;
    padding: 30px;
}

.bottom-box-right-short {
    width: 262px;

    height: 157px;
    background-color: #808080;

    margin-bottom: 30px;
}

.bottom-box-right-long {
    width: 262px;
    height: 453px;
    background-color: #808080;
}

.top-section {
    margin-bottom: 30px;
}

footer {
    /* width: 1380px; */
    height: 123px;
    background-color: #808080;
    margin-bottom: 30px;
}
